#ghx-pool #ghx-column-header-group {
  position: relative !important;
  top: 0 !important;
  left: 0 !important; }

.struct-jira-board-extender-10 #ghx-pool .ghx-swimlane {
  width: 1988px!important; }
.struct-jira-board-extender-10 .ghx-column, .struct-jira-board-extender-10 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-11 #ghx-pool .ghx-swimlane {
  width: 2188px!important; }
.struct-jira-board-extender-11 .ghx-column, .struct-jira-board-extender-11 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-12 #ghx-pool .ghx-swimlane {
  width: 2388px!important; }
.struct-jira-board-extender-12 .ghx-column, .struct-jira-board-extender-12 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-13 #ghx-pool .ghx-swimlane {
  width: 2588px!important; }
.struct-jira-board-extender-13 .ghx-column, .struct-jira-board-extender-13 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-14 #ghx-pool .ghx-swimlane {
  width: 2788px!important; }
.struct-jira-board-extender-14 .ghx-column, .struct-jira-board-extender-14 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-15 #ghx-pool .ghx-swimlane {
  width: 2988px!important; }
.struct-jira-board-extender-15 .ghx-column, .struct-jira-board-extender-15 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-16 #ghx-pool .ghx-swimlane {
  width: 3188px!important; }
.struct-jira-board-extender-16 .ghx-column, .struct-jira-board-extender-16 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-17 #ghx-pool .ghx-swimlane {
  width: 3388px!important; }
.struct-jira-board-extender-17 .ghx-column, .struct-jira-board-extender-17 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-18 #ghx-pool .ghx-swimlane {
  width: 3588px!important; }
.struct-jira-board-extender-18 .ghx-column, .struct-jira-board-extender-18 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-19 #ghx-pool .ghx-swimlane {
  width: 3788px!important; }
.struct-jira-board-extender-19 .ghx-column, .struct-jira-board-extender-19 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-20 #ghx-pool .ghx-swimlane {
  width: 3988px!important; }
.struct-jira-board-extender-20 .ghx-column, .struct-jira-board-extender-20 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-21 #ghx-pool .ghx-swimlane {
  width: 4188px!important; }
.struct-jira-board-extender-21 .ghx-column, .struct-jira-board-extender-21 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-22 #ghx-pool .ghx-swimlane {
  width: 4388px!important; }
.struct-jira-board-extender-22 .ghx-column, .struct-jira-board-extender-22 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-23 #ghx-pool .ghx-swimlane {
  width: 4588px!important; }
.struct-jira-board-extender-23 .ghx-column, .struct-jira-board-extender-23 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-24 #ghx-pool .ghx-swimlane {
  width: 4788px!important; }
.struct-jira-board-extender-24 .ghx-column, .struct-jira-board-extender-24 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-25 #ghx-pool .ghx-swimlane {
  width: 4988px!important; }
.struct-jira-board-extender-25 .ghx-column, .struct-jira-board-extender-25 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-26 #ghx-pool .ghx-swimlane {
  width: 5188px!important; }
.struct-jira-board-extender-26 .ghx-column, .struct-jira-board-extender-26 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-27 #ghx-pool .ghx-swimlane {
  width: 5388px!important; }
.struct-jira-board-extender-27 .ghx-column, .struct-jira-board-extender-27 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-28 #ghx-pool .ghx-swimlane {
  width: 5588px!important; }
.struct-jira-board-extender-28 .ghx-column, .struct-jira-board-extender-28 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-29 #ghx-pool .ghx-swimlane {
  width: 5788px!important; }
.struct-jira-board-extender-29 .ghx-column, .struct-jira-board-extender-29 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-30 #ghx-pool .ghx-swimlane {
  width: 5988px!important; }
.struct-jira-board-extender-30 .ghx-column, .struct-jira-board-extender-30 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-31 #ghx-pool .ghx-swimlane {
  width: 6188px!important; }
.struct-jira-board-extender-31 .ghx-column, .struct-jira-board-extender-31 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-32 #ghx-pool .ghx-swimlane {
  width: 6388px!important; }
.struct-jira-board-extender-32 .ghx-column, .struct-jira-board-extender-32 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-33 #ghx-pool .ghx-swimlane {
  width: 6588px!important; }
.struct-jira-board-extender-33 .ghx-column, .struct-jira-board-extender-33 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-34 #ghx-pool .ghx-swimlane {
  width: 6788px!important; }
.struct-jira-board-extender-34 .ghx-column, .struct-jira-board-extender-34 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-35 #ghx-pool .ghx-swimlane {
  width: 6988px!important; }
.struct-jira-board-extender-35 .ghx-column, .struct-jira-board-extender-35 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-36 #ghx-pool .ghx-swimlane {
  width: 7188px!important; }
.struct-jira-board-extender-36 .ghx-column, .struct-jira-board-extender-36 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-37 #ghx-pool .ghx-swimlane {
  width: 7388px!important; }
.struct-jira-board-extender-37 .ghx-column, .struct-jira-board-extender-37 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-38 #ghx-pool .ghx-swimlane {
  width: 7588px!important; }
.struct-jira-board-extender-38 .ghx-column, .struct-jira-board-extender-38 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-39 #ghx-pool .ghx-swimlane {
  width: 7788px!important; }
.struct-jira-board-extender-39 .ghx-column, .struct-jira-board-extender-39 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-40 #ghx-pool .ghx-swimlane {
  width: 7988px!important; }
.struct-jira-board-extender-40 .ghx-column, .struct-jira-board-extender-40 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-41 #ghx-pool .ghx-swimlane {
  width: 8188px!important; }
.struct-jira-board-extender-41 .ghx-column, .struct-jira-board-extender-41 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-42 #ghx-pool .ghx-swimlane {
  width: 8388px!important; }
.struct-jira-board-extender-42 .ghx-column, .struct-jira-board-extender-42 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-43 #ghx-pool .ghx-swimlane {
  width: 8588px!important; }
.struct-jira-board-extender-43 .ghx-column, .struct-jira-board-extender-43 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-44 #ghx-pool .ghx-swimlane {
  width: 8788px!important; }
.struct-jira-board-extender-44 .ghx-column, .struct-jira-board-extender-44 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-45 #ghx-pool .ghx-swimlane {
  width: 8988px!important; }
.struct-jira-board-extender-45 .ghx-column, .struct-jira-board-extender-45 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-46 #ghx-pool .ghx-swimlane {
  width: 9188px!important; }
.struct-jira-board-extender-46 .ghx-column, .struct-jira-board-extender-46 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-47 #ghx-pool .ghx-swimlane {
  width: 9388px!important; }
.struct-jira-board-extender-47 .ghx-column, .struct-jira-board-extender-47 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-48 #ghx-pool .ghx-swimlane {
  width: 9588px!important; }
.struct-jira-board-extender-48 .ghx-column, .struct-jira-board-extender-48 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-49 #ghx-pool .ghx-swimlane {
  width: 9788px!important; }
.struct-jira-board-extender-49 .ghx-column, .struct-jira-board-extender-49 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-50 #ghx-pool .ghx-swimlane {
  width: 9988px!important; }
.struct-jira-board-extender-50 .ghx-column, .struct-jira-board-extender-50 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-51 #ghx-pool .ghx-swimlane {
  width: 10188px!important; }
.struct-jira-board-extender-51 .ghx-column, .struct-jira-board-extender-51 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-52 #ghx-pool .ghx-swimlane {
  width: 10388px!important; }
.struct-jira-board-extender-52 .ghx-column, .struct-jira-board-extender-52 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-53 #ghx-pool .ghx-swimlane {
  width: 10588px!important; }
.struct-jira-board-extender-53 .ghx-column, .struct-jira-board-extender-53 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-54 #ghx-pool .ghx-swimlane {
  width: 10788px!important; }
.struct-jira-board-extender-54 .ghx-column, .struct-jira-board-extender-54 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-55 #ghx-pool .ghx-swimlane {
  width: 10988px!important; }
.struct-jira-board-extender-55 .ghx-column, .struct-jira-board-extender-55 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-56 #ghx-pool .ghx-swimlane {
  width: 11188px!important; }
.struct-jira-board-extender-56 .ghx-column, .struct-jira-board-extender-56 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-57 #ghx-pool .ghx-swimlane {
  width: 11388px!important; }
.struct-jira-board-extender-57 .ghx-column, .struct-jira-board-extender-57 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-58 #ghx-pool .ghx-swimlane {
  width: 11588px!important; }
.struct-jira-board-extender-58 .ghx-column, .struct-jira-board-extender-58 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-59 #ghx-pool .ghx-swimlane {
  width: 11788px!important; }
.struct-jira-board-extender-59 .ghx-column, .struct-jira-board-extender-59 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-60 #ghx-pool .ghx-swimlane {
  width: 11988px!important; }
.struct-jira-board-extender-60 .ghx-column, .struct-jira-board-extender-60 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-61 #ghx-pool .ghx-swimlane {
  width: 12188px!important; }
.struct-jira-board-extender-61 .ghx-column, .struct-jira-board-extender-61 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-62 #ghx-pool .ghx-swimlane {
  width: 12388px!important; }
.struct-jira-board-extender-62 .ghx-column, .struct-jira-board-extender-62 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-63 #ghx-pool .ghx-swimlane {
  width: 12588px!important; }
.struct-jira-board-extender-63 .ghx-column, .struct-jira-board-extender-63 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-64 #ghx-pool .ghx-swimlane {
  width: 12788px!important; }
.struct-jira-board-extender-64 .ghx-column, .struct-jira-board-extender-64 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-65 #ghx-pool .ghx-swimlane {
  width: 12988px!important; }
.struct-jira-board-extender-65 .ghx-column, .struct-jira-board-extender-65 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-66 #ghx-pool .ghx-swimlane {
  width: 13188px!important; }
.struct-jira-board-extender-66 .ghx-column, .struct-jira-board-extender-66 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-67 #ghx-pool .ghx-swimlane {
  width: 13388px!important; }
.struct-jira-board-extender-67 .ghx-column, .struct-jira-board-extender-67 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-68 #ghx-pool .ghx-swimlane {
  width: 13588px!important; }
.struct-jira-board-extender-68 .ghx-column, .struct-jira-board-extender-68 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-69 #ghx-pool .ghx-swimlane {
  width: 13788px!important; }
.struct-jira-board-extender-69 .ghx-column, .struct-jira-board-extender-69 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-70 #ghx-pool .ghx-swimlane {
  width: 13988px!important; }
.struct-jira-board-extender-70 .ghx-column, .struct-jira-board-extender-70 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-71 #ghx-pool .ghx-swimlane {
  width: 14188px!important; }
.struct-jira-board-extender-71 .ghx-column, .struct-jira-board-extender-71 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-72 #ghx-pool .ghx-swimlane {
  width: 14388px!important; }
.struct-jira-board-extender-72 .ghx-column, .struct-jira-board-extender-72 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-73 #ghx-pool .ghx-swimlane {
  width: 14588px!important; }
.struct-jira-board-extender-73 .ghx-column, .struct-jira-board-extender-73 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-74 #ghx-pool .ghx-swimlane {
  width: 14788px!important; }
.struct-jira-board-extender-74 .ghx-column, .struct-jira-board-extender-74 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-75 #ghx-pool .ghx-swimlane {
  width: 14988px!important; }
.struct-jira-board-extender-75 .ghx-column, .struct-jira-board-extender-75 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-76 #ghx-pool .ghx-swimlane {
  width: 15188px!important; }
.struct-jira-board-extender-76 .ghx-column, .struct-jira-board-extender-76 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-77 #ghx-pool .ghx-swimlane {
  width: 15388px!important; }
.struct-jira-board-extender-77 .ghx-column, .struct-jira-board-extender-77 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-78 #ghx-pool .ghx-swimlane {
  width: 15588px!important; }
.struct-jira-board-extender-78 .ghx-column, .struct-jira-board-extender-78 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-79 #ghx-pool .ghx-swimlane {
  width: 15788px!important; }
.struct-jira-board-extender-79 .ghx-column, .struct-jira-board-extender-79 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-80 #ghx-pool .ghx-swimlane {
  width: 15988px!important; }
.struct-jira-board-extender-80 .ghx-column, .struct-jira-board-extender-80 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-81 #ghx-pool .ghx-swimlane {
  width: 16188px!important; }
.struct-jira-board-extender-81 .ghx-column, .struct-jira-board-extender-81 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-82 #ghx-pool .ghx-swimlane {
  width: 16388px!important; }
.struct-jira-board-extender-82 .ghx-column, .struct-jira-board-extender-82 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-83 #ghx-pool .ghx-swimlane {
  width: 16588px!important; }
.struct-jira-board-extender-83 .ghx-column, .struct-jira-board-extender-83 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-84 #ghx-pool .ghx-swimlane {
  width: 16788px!important; }
.struct-jira-board-extender-84 .ghx-column, .struct-jira-board-extender-84 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-85 #ghx-pool .ghx-swimlane {
  width: 16988px!important; }
.struct-jira-board-extender-85 .ghx-column, .struct-jira-board-extender-85 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-86 #ghx-pool .ghx-swimlane {
  width: 17188px!important; }
.struct-jira-board-extender-86 .ghx-column, .struct-jira-board-extender-86 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-87 #ghx-pool .ghx-swimlane {
  width: 17388px!important; }
.struct-jira-board-extender-87 .ghx-column, .struct-jira-board-extender-87 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-88 #ghx-pool .ghx-swimlane {
  width: 17588px!important; }
.struct-jira-board-extender-88 .ghx-column, .struct-jira-board-extender-88 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-89 #ghx-pool .ghx-swimlane {
  width: 17788px!important; }
.struct-jira-board-extender-89 .ghx-column, .struct-jira-board-extender-89 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-90 #ghx-pool .ghx-swimlane {
  width: 17988px!important; }
.struct-jira-board-extender-90 .ghx-column, .struct-jira-board-extender-90 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-91 #ghx-pool .ghx-swimlane {
  width: 18188px!important; }
.struct-jira-board-extender-91 .ghx-column, .struct-jira-board-extender-91 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-92 #ghx-pool .ghx-swimlane {
  width: 18388px!important; }
.struct-jira-board-extender-92 .ghx-column, .struct-jira-board-extender-92 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-93 #ghx-pool .ghx-swimlane {
  width: 18588px!important; }
.struct-jira-board-extender-93 .ghx-column, .struct-jira-board-extender-93 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-94 #ghx-pool .ghx-swimlane {
  width: 18788px!important; }
.struct-jira-board-extender-94 .ghx-column, .struct-jira-board-extender-94 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-95 #ghx-pool .ghx-swimlane {
  width: 18988px!important; }
.struct-jira-board-extender-95 .ghx-column, .struct-jira-board-extender-95 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-96 #ghx-pool .ghx-swimlane {
  width: 19188px!important; }
.struct-jira-board-extender-96 .ghx-column, .struct-jira-board-extender-96 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-97 #ghx-pool .ghx-swimlane {
  width: 19388px!important; }
.struct-jira-board-extender-97 .ghx-column, .struct-jira-board-extender-97 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-98 #ghx-pool .ghx-swimlane {
  width: 19588px!important; }
.struct-jira-board-extender-98 .ghx-column, .struct-jira-board-extender-98 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-99 #ghx-pool .ghx-swimlane {
  width: 19788px!important; }
.struct-jira-board-extender-99 .ghx-column, .struct-jira-board-extender-99 .ghx-zone-overlay div {
  width: 188px!important; }

.struct-jira-board-extender-100 #ghx-pool .ghx-swimlane {
  width: 19988px!important; }
.struct-jira-board-extender-100 .ghx-column, .struct-jira-board-extender-100 .ghx-zone-overlay div {
  width: 188px!important; }

/*# sourceMappingURL=extender.css.map */
